<div id="caratula">

  <img id="caratula" src="{{info.image}}" width="300px" />
</div>

<div id="informacion">
  <a href="/movies/">Go back</a>
  <h3>{{info.title}}</h3>
  <h4>{{info.director}}</h4>
  <h5>Stars
    <li>{{info.stars}}</li></h5>
  <h5>{{info.description}}</h5>
  <h5>{{info.showtimes}}</h5>
</div>